<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
	  <root>
		  <level value="ALL" />
		  <level value="ERROR" />
		  <level value="INFO" />
		  <level value="WARNING" />
		  <level value="DEBUG" />
		  <appender-ref ref="RollingLogFileAppender" />
		  <!--<appender-ref ref="RemoteSyslogAppender" />-->
	  </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
	 <file value="C:\Users\RAUL\Documents\rmab\.net\csharp\LOG\mylog.log"></file>
      <appendTofile value="true" />
      <staticlogfilename value="false" />
      <rollingstyle value="Composite" />
      <datepattern value="yyyyMMdd.lo\g" />
      <maxsizerollbackups value="5" />
      <maximumfilesize value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%newline#############################################################%newline %date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <!--<appender name="RemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
      <layout type="log4net.Layout.PatternLayout" value="(%thread) %message"/>
      <remoteAddress value="logserver" />
      <identity value="SVC_LuzDelSur.Comercial.ReclamoCom.CartaReclamoCovid_%logger" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ALL" />
      </filter>
    </appender>-->
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="ServicioWCFRest.ServicioEmpleado" behaviorConfiguration="ServicioWCFRest_Behavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="NewBinding0" contract="ServicioWCFRest.IServicioEmpleado" />
      </service>
    </services>
	  <bindings>
		  <webHttpBinding>
			  <binding name="NewBinding0" 
					   crossDomainScriptAccessEnabled="true" 
		               maxReceivedMessageSize="104857600" 
		               transferMode="Streamed" 
		               contentTypeMapper="ServicioWCFRest.Mapper.NewtonsoftJsonContentTypeMapper, ServicioWCFRest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		  </webHttpBinding>
	  </bindings>
        <extensions>
		  <behaviorExtensions>
			  <add name="newtonsoftJsonBehavior"
					type="ServicioWCFRest.Handlers.NewtonsoftJsonBehaviorExtension, ServicioWCFRest, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
		  </behaviorExtensions>
	  </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" faultExceptionEnabled="false" />
		  <newtonsoftJsonBehavior/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServicioWCFRest_Behavior">
          <!-- ojo con la linea anterior Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
	  <httpProtocol>
		  <customHeaders>
			  <add name="Access-Control-Allow-Origin" value="*" />
			  <add name="Access-Control-Allow-Headers" value="*" />
			  <add name="Access-Control-Request-Method" value="POST, GET, OPTIONS, DELETE, PUT" />
			  <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS, DELETE, PUT" />
			  <add name="Access-Control-Max-Age" value="1728000" />
		  </customHeaders>
	  </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <connectionStrings>
 <add name="NeptunoEntities" connectionString="metadata=res://*/Model.Modelo.csdl|res://*/Model.Modelo.ssdl|res://*/Model.Modelo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-D4MPUE8C\SQLEXPRESS;initial catalog=Neptuno;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>